.container{
	display: grid;
	grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
	grid-template-columns: repeat(4,25%);
	background-color: blue;
}

.container2{
	display: grid;
	grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
	grid-template-columns: repeat(4,25%);
	background-color: blue;
}

.container3{
	display: grid;
	grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
	grid-template-columns: repeat(4,25%);
	background-color: blue;
}

